#customers {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;


    .btn-Edit {
        width     : 30px;
        border    : none;
        outline   : none;
        background: transparent;
        color     : rgb(69, 67, 67);
        font-size : 15px;

        &:hover {
            background-color: transparent !important;
            color           : rgb(255, 255, 255);
        }
    }

    .btn-Delete {
        width     : 30px;
        border    : none;
        outline   : none;
        background: transparent;
        color     : rgb(69, 67, 67);
        font-size : 15px;

        &:hover {
            background-color: transparent !important;
            color           : rgb(255, 255, 255);
        }
    }
}

#customers td,
#customers th {
    border : 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04aa6d;
    color           : white;
}